<h1>{{ general.title }}</h1>
<blockquote>Current Status: {{ general.status }}</blockquote>
<span>Grade: {{ general.grade }}</span>
<span>Affects: {{#each general.affects}}{{serviceName this}} {{/each}}</span>
<span>Created at: {{formatDate metadata.creationDate "yyyy LLL dd, hh:mm"}} | Resolved at: {{formatDate metadata.resolvedDate "yyyy LLL dd, hh:mm"}}</span>
<hr>

<div>
    <ul>
        {{#each updates}}
            <li>{{ status }}: {{ message }} ({{formatDate date "yyyy LLL dd, hh:mm"}})</li>
        {{/each}}
    </ul>
</div>
