<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status Page</title>
</head>
<body>
<h1>Status Page</h1>
<hr>
<div>
    {{#each services}}
        <span>{{serviceName @key}}:
        {{#if (serviceStatusIs @key "degraded")}}
            <a href="{{ongoingIssueLink @key}}">⚠ Degraded status</a>
        {{else}}
            {{#if (serviceStatusIs @key "down")}}
                <a href="{{ongoingIssueLink @key}}">❗ Down</a>
            {{else}}
                <span>✅ No issues</span>
            {{/if}}
        {{/if}}
        </span><br>
    {{/each}}
</div>
</body>
</html>
